.home {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPouxA0cPBJ0gV_zIX_acnClKeMNmN7079vw&usqp=CAU');
  background-repeat: no-repeat;
  height: 600px;
  z-index: 1;
}

.nam {
  position: relative;
  top: 10px;
}

h2 {
  text-align: center;
  position: relative;
  top: 20px;
} 

.text-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text {
  max-width: 500px;
  position: relative;
  top: 50px;
  font-size: 26px;
}
