.nav-tabs .nav-link.active {
  background: linear-gradient(to right bottom, rgb(237, 248, 77), rgb(243, 115, 92));
  color: black;
  border: 1px solid black;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: black;
}